.container-selected{
    width: 29%;
    height:max-content;
    border: 1px solid rgb(98, 96, 96);
    border-radius: 10px;
    position:absolute;
    display: flex;
    left: 68%;
    top: 7rem;
    font-family: 'Shadows Into Light',cursive;
    font-size: 27px;
    color: white;
    justify-content: center;
    opacity: 1;
}

.imgCover-select{
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  padding-top: 9rem;
}

.cloned-cover-img{
    width: 150px;
    height: 180px;
    padding: .5rem;
}

.listBooksSelected{
    position:absolute;
}

.books-in-list{
    color: white;
    font-family:'Shadows Into Light',cursive;
    position: relative;
    bottom: 17.7rem;
    left: 9rem;
    font-size: 25px;
}