.countainer-range{
  position: relative;
  display: flex;
  padding-top: 7rem;
  z-index: 3;
  left: 2rem;
}

.text-range{
color: white;
position: relative;
display: flex;
bottom: 1.9rem;
font-family: 'Shadows Into Light',cursive;
font-size: 25px;
left: 6.5rem;
}

.range{
      -webkit-appearance: none; 
      position: relative;
      display: flex;
      right: 3rem;
      top: 3rem;
      width: 10%; 
      height: 1px; 
      background: white; 
      outline: none; 
      opacity: 0.7;
      margin: 0; 
      border-radius: 2px; 
      z-index: 10;
    }
    
    
  .range::-webkit-slider-thumb {
      -webkit-appearance: none; 
      width: 12px; 
      height: 10px; 
      background: white; 
      border-radius: 50%; 
      cursor:pointer; 
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); 
    }